/*Header*/

.main-container {
  max-width: 80vw;
  height: 80vh;
  top: 0;
  margin-left: 330px;
  margin-right: 25px;
}

.header__navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
  background-color: var(--bg-color-for);
  padding: 10px;
  height: 60px;
}

.header__navigation .navigation {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header__navigation .navigation .arrow-left {
  margin-right: 1.25rem;
}

.arrow-left,
.arrow-right {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  background: var(--bg-icon);
  background-color: var(--bg-arrow-color);
  border-radius: 50%;
  border: none;
  cursor: pointer;
}

.header__login {
    display: flex;
    align-items: center;
}

.header__search {
    display: flex;
    align-items: center;
    width: 364px;
    height: 48px;
    margin-left: 8px;
    background-color: var(--bg-color-three);
    border-radius: 500px;
    border: 1px solid transparent;
}

.header__search img {
    width: 16px;
    height: 16px;
    margin-left: 10px;
    margin-right: 10px;
}

.header__search input {
    background: transparent;
    border: none;
    padding: 0px 12px;
    color: var(--text-base-light);
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    outline: none;
}

.header__login .subscribe {
    color: var(--text-sub);
    font-size: 16px;
    font-weight: 700;
    background-color: transparent;
    border: none;
    margin-right: 32px;
    cursor: pointer;
}

.header__login .login {
    width: 100px;
    height: 48px;
    color: var(--text-base-dark);
    border: none;
    border-radius: 40px;
    font-weight: 900;
    cursor: pointer;
}